@import 'test.css';

.enter {
    opacity: 0.01;
    color:gold;
}

.example-enter.example-enter-active {
    opacity: 0.5;
    color:blue;
}

.leave {
    opacity: 1;
}

.leave.leave-active {
    //opacity: 0.01;
    //color:red;
    //transition: opacity 300ms ease-in;
}

.tryme{
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
}

.example-appear {
    //-webkit-animation-name: zoomIn;
    //animation-name: zoomIn;
}

.example-appear.example-appear-active {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}