@import 'test.css';

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 0.5;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 0.5;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}